// Variables
$gold-color: #bf9a5a;
$dark-gold-color: #978155;
$hover-gold-color: #{$dark-gold-color}5f;
$dark-head-color: #0c2a3b;
$light-head-color: #23414e;
$light-background-color: #f2f2f2;

//Header
$header-height: 84px;

// Admin
$nav-width: 20%;
$paddingTop: 40px;
$dark-border-color: #4e4e4e5f;
